examples/blinds.json
[
  {
    "id": "c1e70414.f5a688",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "living room blinds",
    "topic": "living/blinds",
    "connection": "",
    "template": "BLINDS",
    "passthrough": true,
    "x": 1650,
    "y": 940,
    "wires": [["54a9fe8d.af96b"]]
  },
  {
    "id": "d3ccd3e3.2545a",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "BLINDS",
    "info": "",
    "x": 1330,
    "y": 740,
    "wires": []
  },
  {
    "id": "54a9fe8d.af96b",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1910,
    "y": 940,
    "wires": []
  },
  {
    "id": "829de8c8.3d3b58",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, lower the living room blinds.",
    "info": "",
    "x": 1460,
    "y": 780,
    "wires": []
  },
  {
    "id": "7fe0262.08f8ad8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, raise the living room blinds.",
    "info": "",
    "x": 1460,
    "y": 820,
    "wires": []
  },
  {
    "id": "855fba00.f2c468",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the living room blinds to fifty percent.",
    "info": "",
    "x": 1500,
    "y": 860,
    "wires": []
  },
  {
    "id": "4daf3216.a0c4fc",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "open",
    "props": [{ "p": "payload.percentage", "v": "100", "vt": "num" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1330,
    "y": 940,
    "wires": [["c1e70414.f5a688"]]
  },
  {
    "id": "4f53ae41.663d3",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "50%",
    "props": [{ "p": "payload.percentage", "v": "50", "vt": "num" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1330,
    "y": 1020,
    "wires": [["c1e70414.f5a688"]]
  },
  {
    "id": "57a354ab.67efcc",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "close",
    "props": [{ "p": "payload.percentage", "v": "0", "vt": "num" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1330,
    "y": 980,
    "wires": [["c1e70414.f5a688"]]
  }
]
