examples/blinds.json
[
  {
    "id": "6dc99a3c.4197a4",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "open",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"mode\":\"Position.Up\"}",
    "payloadType": "json",
    "x": 830,
    "y": 560,
    "wires": [["64d2e5d6.21833c"]]
  },
  {
    "id": "64d2e5d6.21833c",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "living room blinds",
    "topic": "living/blinds",
    "connection": "",
    "template": "BLINDS",
    "passthrough": true,
    "x": 1150,
    "y": 560,
    "wires": [["2d80deef.8e3972"]]
  },
  {
    "id": "3e0fcb72.ccee14",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "BLINDS",
    "info": "",
    "x": 830,
    "y": 360,
    "wires": []
  },
  {
    "id": "2d80deef.8e3972",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 560,
    "wires": []
  },
  {
    "id": "7e1e991d.512e38",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "close",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"mode\":\"Position.Down\"}",
    "payloadType": "json",
    "x": 830,
    "y": 600,
    "wires": [["64d2e5d6.21833c"]]
  },
  {
    "id": "d24ebbfc.4cf308",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, lower the living room blinds.",
    "info": "",
    "x": 960,
    "y": 400,
    "wires": []
  },
  {
    "id": "f2a86d27.3b8d8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, raise the living room blinds.",
    "info": "",
    "x": 960,
    "y": 440,
    "wires": []
  },
  {
    "id": "2a745415.fab0ac",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the living room blinds to fifty percent.",
    "info": "",
    "x": 1000,
    "y": 480,
    "wires": []
  },
  {
    "id": "1c7c18b4.d92fa7",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "50%",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"percentage\":50}",
    "payloadType": "json",
    "x": 830,
    "y": 640,
    "wires": [["64d2e5d6.21833c"]]
  }
]
