examples/color-changing-light-bulb.json
[
  {
    "id": "2415de34.a57552",
    "type": "subflow",
    "name": "device state",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 80,
        "wires": [
          {
            "id": "b643ba4b.ed8568"
          }
        ]
      }
    ],
    "out": [],
    "env": [],
    "color": "#FDF0C2",
    "icon": "node-red-contrib-virtual-smart-home/vsh_icon.svg",
    "status": {
      "x": 340,
      "y": 160,
      "wires": [
        {
          "id": "481bce2f.15694",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "b643ba4b.ed8568",
    "type": "function",
    "z": "2415de34.a57552",
    "name": "state",
    "func": "node.status({\n    text: JSON.stringify(msg.payload)\n})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 190,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "481bce2f.15694",
    "type": "status",
    "z": "2415de34.a57552",
    "name": "",
    "scope": ["b643ba4b.ed8568"],
    "x": 200,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "4def6751.3afbc8",
    "type": "inject",
    "z": "d4b071dd.484d2",
    "name": "on",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 170,
    "y": 160,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "bc4a064.f3316f8",
    "type": "inject",
    "z": "d4b071dd.484d2",
    "name": "off",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 170,
    "y": 200,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "97e1b7a3.fcc548",
    "type": "vsh-virtual-device",
    "z": "d4b071dd.484d2",
    "name": "my virtual color light",
    "connection": "76dd9476.4f330c",
    "template": "COLOR_CHANGING_LIGHT_BULB",
    "passthrough": true,
    "x": 500,
    "y": 160,
    "wires": [["aabe1100.ff556", "189d641f.3aebec"]]
  },
  {
    "id": "bd0aba42.a2bca8",
    "type": "comment",
    "z": "d4b071dd.484d2",
    "name": "COLOR CHANGING LIGHT BULB",
    "info": "",
    "x": 240,
    "y": 100,
    "wires": []
  },
  {
    "id": "aabe1100.ff556",
    "type": "debug",
    "z": "d4b071dd.484d2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 160,
    "wires": []
  },
  {
    "id": "189d641f.3aebec",
    "type": "subflow:2415de34.a57552",
    "z": "d4b071dd.484d2",
    "name": "",
    "env": [],
    "x": 750,
    "y": 200,
    "wires": []
  },
  {
    "id": "55818fcf.efc5f",
    "type": "inject",
    "z": "d4b071dd.484d2",
    "name": "60%",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\",\"brightness\":60}",
    "payloadType": "json",
    "x": 170,
    "y": 240,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "e3cb895d.cabc98",
    "type": "inject",
    "z": "d4b071dd.484d2",
    "name": "warm white (temp)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"colorTemperatureInKelvin\":2200,\"lightMode\":\"temp\"}",
    "payloadType": "json",
    "x": 210,
    "y": 320,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "ea2fa8b8.e1bab8",
    "type": "inject",
    "z": "d4b071dd.484d2",
    "name": "green (hsb)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"color\":{\"hue\":120,\"saturation\":1,\"brightness\":0.5},\"lightMode\":\"hsb\"}",
    "payloadType": "json",
    "x": 180,
    "y": 280,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "9b146471.549368",
    "type": "inject",
    "z": "d4b071dd.484d2",
    "name": "red (color_rgb)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"color_rgb\":[255,0,0],\"lightMode\":\"hsb\"}",
    "payloadType": "json",
    "x": 190,
    "y": 360,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "c11714ec.e74448",
    "type": "inject",
    "z": "d4b071dd.484d2",
    "name": "blue (color_hex)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"color_hex\":\"0000FF\",\"lightMode\":\"hsb\"}",
    "payloadType": "json",
    "x": 200,
    "y": 400,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "76dd9476.4f330c",
    "type": "vsh-connection",
    "z": "",
    "name": "default",
    "port": "8883",
    "accessTokenExpiry": "1601204689879"
  }
]
