examples/color-changing-light-bulb.json
[
  {
    "id": "4def6751.3afbc8",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 830,
    "y": 1700,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "bc4a064.f3316f8",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 830,
    "y": 1740,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "97e1b7a3.fcc548",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "bedroom",
    "topic": "bedroom/light",
    "connection": "",
    "template": "COLOR_CHANGING_LIGHT_BULB",
    "passthrough": true,
    "x": 1120,
    "y": 1700,
    "wires": [["aabe1100.ff556"]]
  },
  {
    "id": "bd0aba42.a2bca8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "COLOR CHANGING LIGHT BULB",
    "info": "",
    "x": 920,
    "y": 1260,
    "wires": []
  },
  {
    "id": "aabe1100.ff556",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 1700,
    "wires": []
  },
  {
    "id": "55818fcf.efc5f",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "60%",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\",\"brightness\":60}",
    "payloadType": "json",
    "x": 830,
    "y": 1780,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "e3cb895d.cabc98",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "warm white (temp)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"colorTemperatureInKelvin\":2200,\"lightMode\":\"temp\"}",
    "payloadType": "json",
    "x": 870,
    "y": 1860,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "ea2fa8b8.e1bab8",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "green (hsb)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"color\":{\"hue\":120,\"saturation\":1,\"brightness\":0.5},\"lightMode\":\"hsb\"}",
    "payloadType": "json",
    "x": 840,
    "y": 1820,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "9b146471.549368",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "red (color_rgb)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"color_rgb\":[255,0,0],\"lightMode\":\"hsb\"}",
    "payloadType": "json",
    "x": 850,
    "y": 1900,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "c11714ec.e74448",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "blue (color_hex)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"color_hex\":\"0000FF\",\"lightMode\":\"hsb\"}",
    "payloadType": "json",
    "x": 860,
    "y": 1940,
    "wires": [["97e1b7a3.fcc548"]]
  },
  {
    "id": "eda8f456.41fad8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn on bedroom light.",
    "info": "",
    "x": 940,
    "y": 1300,
    "wires": []
  },
  {
    "id": "db82fc64.39b6b",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn off bedroom light.",
    "info": "",
    "x": 940,
    "y": 1340,
    "wires": []
  },
  {
    "id": "92f29229.bc38",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, dim the bedroom light.",
    "info": "",
    "x": 940,
    "y": 1380,
    "wires": []
  },
  {
    "id": "e9f0ea95.4d9648",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the bedroom light to sixty percent.",
    "info": "",
    "x": 990,
    "y": 1420,
    "wires": []
  },
  {
    "id": "c1bbaee4.de85b",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the bedroom light to red.",
    "info": "",
    "x": 960,
    "y": 1460,
    "wires": []
  },
  {
    "id": "46c8d8f0.9ef2f8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the bedroom light to daylight.",
    "info": "",
    "x": 970,
    "y": 1500,
    "wires": []
  },
  {
    "id": "1415572d.5ec6e9",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, make the bedroom warm white.",
    "info": "",
    "x": 970,
    "y": 1540,
    "wires": []
  },
  {
    "id": "41f81ae7.c07124",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, make the bedroom light warmer.",
    "info": "",
    "x": 970,
    "y": 1580,
    "wires": []
  },
  {
    "id": "6fed6e72.b742c",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the bedroom light cooler.",
    "info": "",
    "x": 960,
    "y": 1620,
    "wires": []
  }
]
