examples/color-changing-light-bulb.json
[
  {
    "id": "2415de34.a57552",
    "type": "subflow",
    "name": "device state",
    "info": "",
    "category": "",
    "in": [{ "x": 60, "y": 80, "wires": [{ "id": "b643ba4b.ed8568" }] }],
    "out": [],
    "env": [],
    "color": "#FDF0C2",
    "icon": "node-red-contrib-virtual-smart-home/vsh_icon.svg",
    "status": {
      "x": 340,
      "y": 160,
      "wires": [{ "id": "481bce2f.15694", "port": 0 }]
    }
  },
  {
    "id": "b643ba4b.ed8568",
    "type": "function",
    "z": "2415de34.a57552",
    "name": "state",
    "func": "node.status({\n    text: JSON.stringify(msg.payload)\n})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 190,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "481bce2f.15694",
    "type": "status",
    "z": "2415de34.a57552",
    "name": "",
    "scope": ["b643ba4b.ed8568"],
    "x": 200,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "40b6bf52.8d61d",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 150,
    "y": 680,
    "wires": [["5cfbbf0.ea7604"]]
  },
  {
    "id": "b2815f6d.e98db",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 150,
    "y": 720,
    "wires": [["5cfbbf0.ea7604"]]
  },
  {
    "id": "5cfbbf0.ea7604",
    "type": "vsh-virtual-device",
    "z": "b27e9fc0.1db62",
    "name": "my virtual color light",
    "connection": "",
    "template": "COLOR_CHANGING_LIGHT_BULB",
    "passthrough": true,
    "x": 480,
    "y": 680,
    "wires": [["9c2bb679.7a47d8", "501c2cd3.61a7e4"]]
  },
  {
    "id": "a56f6424.9e4698",
    "type": "comment",
    "z": "b27e9fc0.1db62",
    "name": "COLOR CHANGING LIGHT BULB",
    "info": "",
    "x": 220,
    "y": 620,
    "wires": []
  },
  {
    "id": "9c2bb679.7a47d8",
    "type": "debug",
    "z": "b27e9fc0.1db62",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 680,
    "wires": []
  },
  {
    "id": "501c2cd3.61a7e4",
    "type": "subflow:2415de34.a57552",
    "z": "b27e9fc0.1db62",
    "name": "",
    "env": [],
    "x": 730,
    "y": 720,
    "wires": []
  },
  {
    "id": "38764be9.4af844",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "60%",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\",\"brightness\":77}",
    "payloadType": "json",
    "x": 150,
    "y": 760,
    "wires": [["5cfbbf0.ea7604"]]
  },
  {
    "id": "d08b5fca.ceeaf",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "warm white (temp)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"colorTemperatureInKelvin\":2200,\"lightMode\":\"temp\"}",
    "payloadType": "json",
    "x": 190,
    "y": 840,
    "wires": [["5cfbbf0.ea7604"]]
  },
  {
    "id": "87bc57ed.a67808",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "green (hsb)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"color\":{\"hue\":120,\"saturation\":1,\"brightness\":1},\"lightMode\":\"hsb\"}",
    "payloadType": "json",
    "x": 160,
    "y": 800,
    "wires": [["5cfbbf0.ea7604"]]
  }
]
