examples/contact-sensor.json
[
  {
    "id": "a67f98de.750138",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "kitchen window",
    "topic": "kitchen/window",
    "connection": "",
    "template": "TEMPERATURE_SENSOR",
    "passthrough": false,
    "diff": false,
    "filter": false,
    "x": 1740,
    "y": 960,
    "wires": [[]]
  },
  {
    "id": "c9e0153d.a8fd58",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "open",
    "props": [
      {
        "p": "payload.detectionState",
        "v": "DETECTED",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1410,
    "y": 960,
    "wires": [["a67f98de.750138"]]
  },
  {
    "id": "afda55c5.7e04a8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "CONTACT SENSOR",
    "info": "",
    "x": 1430,
    "y": 840,
    "wires": []
  },
  {
    "id": "5cb3c47d.48280c",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, is kitchen window open?",
    "info": "",
    "x": 1510,
    "y": 880,
    "wires": []
  },
  {
    "id": "51f1a442.3442ac",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "closed",
    "props": [
      {
        "p": "payload.detectionState",
        "v": "NOT_DETECTED",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1410,
    "y": 1000,
    "wires": [["a67f98de.750138"]]
  }
]
