examples/dimmable-light-bulb.json
[
  {
    "id": "2415de34.a57552",
    "type": "subflow",
    "name": "device state",
    "info": "",
    "category": "subflows",
    "in": [{ "x": 60, "y": 80, "wires": [{ "id": "b643ba4b.ed8568" }] }],
    "out": [],
    "env": [],
    "color": "#FDF0C2",
    "icon": "node-red-contrib-virtual-smart-home/vsh_icon.svg",
    "status": {
      "x": 340,
      "y": 160,
      "wires": [{ "id": "481bce2f.15694", "port": 0 }]
    }
  },
  {
    "id": "b643ba4b.ed8568",
    "type": "function",
    "z": "2415de34.a57552",
    "name": "state",
    "func": "node.status({\n    text: JSON.stringify(msg.payload)\n})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 190,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "481bce2f.15694",
    "type": "status",
    "z": "2415de34.a57552",
    "name": "",
    "scope": ["b643ba4b.ed8568"],
    "x": 200,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "1deb9367.51a3fd",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 150,
    "y": 400,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "dab12600.fd0d08",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 150,
    "y": 440,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "1de955b6.491d3a",
    "type": "vsh-virtual-device",
    "z": "b27e9fc0.1db62",
    "name": "my virtual light",
    "connection": "",
    "template": "DIMMABLE_LIGHT_BULB",
    "passthrough": true,
    "x": 460,
    "y": 400,
    "wires": [["c402af75.7847", "b2ebf02b.86ef4"]]
  },
  {
    "id": "6375e148.f86cc",
    "type": "comment",
    "z": "b27e9fc0.1db62",
    "name": "DIMMABLE LIGHT BULB",
    "info": "",
    "x": 190,
    "y": 340,
    "wires": []
  },
  {
    "id": "c402af75.7847",
    "type": "debug",
    "z": "b27e9fc0.1db62",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 400,
    "wires": []
  },
  {
    "id": "b2ebf02b.86ef4",
    "type": "subflow:2415de34.a57552",
    "z": "b27e9fc0.1db62",
    "name": "",
    "env": [],
    "x": 730,
    "y": 440,
    "wires": []
  },
  {
    "id": "2bb6a27f.f9fd7e",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "60%",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\",\"brightness\":60}",
    "payloadType": "json",
    "x": 150,
    "y": 480,
    "wires": [["1de955b6.491d3a"]]
  }
]
