examples/dimmable-light-bulb.json
[
  {
    "id": "1deb9367.51a3fd",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 830,
    "y": 2360,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "dab12600.fd0d08",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 830,
    "y": 2400,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "1de955b6.491d3a",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "kitchen",
    "topic": "kitchen/light",
    "connection": "",
    "template": "DIMMABLE_LIGHT_BULB",
    "passthrough": true,
    "x": 1120,
    "y": 2360,
    "wires": [["c402af75.7847"]]
  },
  {
    "id": "6375e148.f86cc",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "DIMMABLE LIGHT BULB",
    "info": "",
    "x": 870,
    "y": 2120,
    "wires": []
  },
  {
    "id": "c402af75.7847",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 2360,
    "wires": []
  },
  {
    "id": "2bb6a27f.f9fd7e",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "60%",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\",\"brightness\":60}",
    "payloadType": "json",
    "x": 830,
    "y": 2440,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "a2e1af48.ab3c2",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn on kitchen light.",
    "info": "",
    "x": 910,
    "y": 2160,
    "wires": []
  },
  {
    "id": "394a1805.f60018",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn off kitchen light.",
    "info": "",
    "x": 920,
    "y": 2200,
    "wires": []
  },
  {
    "id": "71e3b7d5.1eb6c8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, dim the kitchen light.",
    "info": "",
    "x": 920,
    "y": 2240,
    "wires": []
  },
  {
    "id": "f54cb37b.d5251",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the kitchen light to sixty percent.",
    "info": "",
    "x": 960,
    "y": 2280,
    "wires": []
  }
]
