examples/fan.json
[
  {
    "id": "1deb9367.51a3fd",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 930,
    "y": 520,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "dab12600.fd0d08",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 930,
    "y": 560,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "1de955b6.491d3a",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "bedroom fan",
    "topic": "bedroom/fan",
    "connection": "",
    "template": "FAN",
    "passthrough": true,
    "diff": false,
    "x": 1230,
    "y": 520,
    "wires": [["c402af75.7847"]]
  },
  {
    "id": "6375e148.f86cc",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "FAN",
    "info": "",
    "x": 910,
    "y": 340,
    "wires": []
  },
  {
    "id": "c402af75.7847",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1510,
    "y": 520,
    "wires": []
  },
  {
    "id": "2bb6a27f.f9fd7e",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "speed: 1",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"speed\":1}",
    "payloadType": "json",
    "x": 940,
    "y": 600,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "a2e1af48.ab3c2",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the bedroom fan speed to 7.",
    "info": "",
    "x": 1050,
    "y": 380,
    "wires": []
  },
  {
    "id": "394a1805.f60018",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set the fan speed on the bedroom fan to maximum.",
    "info": "",
    "x": 1110,
    "y": 420,
    "wires": []
  },
  {
    "id": "33cd6994.775376",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "speed: 5",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"speed\":5}",
    "payloadType": "json",
    "x": 940,
    "y": 640,
    "wires": [["1de955b6.491d3a"]]
  },
  {
    "id": "8c250365.04683",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "speed: 10",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"speed\":10}",
    "payloadType": "json",
    "x": 940,
    "y": 680,
    "wires": [["1de955b6.491d3a"]]
  }
]
