examples/lock.json
[
  {
    "id": "ec1793b6.d60de",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "front door",
    "topic": "house/door",
    "connection": "",
    "template": "LOCK",
    "passthrough": true,
    "diff": false,
    "filter": false,
    "x": 1660,
    "y": 460,
    "wires": [["8b79139d.cd20e"]]
  },
  {
    "id": "8b79139d.cd20e",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1810,
    "y": 460,
    "wires": []
  },
  {
    "id": "816c1b4f.db38f8",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "lock",
    "props": [{ "p": "payload.lockState", "v": "LOCKED", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1370,
    "y": 460,
    "wires": [["ec1793b6.d60de"]]
  },
  {
    "id": "b70b1efd.0052a",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "unlock",
    "props": [{ "p": "payload.lockState", "v": "UNLOCKED", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1370,
    "y": 500,
    "wires": [["ec1793b6.d60de"]]
  },
  {
    "id": "e33f8d18.93878",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "LOCK",
    "info": "",
    "x": 1370,
    "y": 260,
    "wires": []
  },
  {
    "id": "bd37a85e.33a5d8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, unlock front door",
    "info": "",
    "x": 1460,
    "y": 340,
    "wires": []
  },
  {
    "id": "923be998.d58bf8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, is the front door locked?",
    "info": "",
    "x": 1490,
    "y": 380,
    "wires": []
  },
  {
    "id": "f9d8bfad.affad",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, lock front door.",
    "info": "",
    "x": 1460,
    "y": 300,
    "wires": []
  }
]
