examples/plug.json
[
  {
    "id": "5fe4b1c4.8eb04",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 830,
    "y": 3120,
    "wires": [["50f53bed.7bf204"]]
  },
  {
    "id": "7187b738.ca5778",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 830,
    "y": 3160,
    "wires": [["50f53bed.7bf204"]]
  },
  {
    "id": "50f53bed.7bf204",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "projector",
    "topic": "plug/projector",
    "connection": "",
    "template": "PLUG",
    "passthrough": true,
    "x": 1120,
    "y": 3120,
    "wires": [["96685bfa.aba9f8"]]
  },
  {
    "id": "3bbc5c97.55cdd4",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "PLUG",
    "info": "",
    "x": 810,
    "y": 2960,
    "wires": []
  },
  {
    "id": "96685bfa.aba9f8",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 3120,
    "wires": []
  },
  {
    "id": "b679be37.a5656",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn on the projector.",
    "info": "",
    "x": 920,
    "y": 3000,
    "wires": []
  },
  {
    "id": "67c1de90.3894e",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn off the projector.",
    "info": "",
    "x": 920,
    "y": 3040,
    "wires": []
  }
]
