examples/switch.json
[
  {
    "id": "2415de34.a57552",
    "type": "subflow",
    "name": "device state",
    "info": "",
    "category": "subflows",
    "in": [{ "x": 60, "y": 80, "wires": [{ "id": "b643ba4b.ed8568" }] }],
    "out": [],
    "env": [],
    "color": "#FDF0C2",
    "icon": "node-red-contrib-virtual-smart-home/vsh_icon.svg",
    "status": {
      "x": 340,
      "y": 160,
      "wires": [{ "id": "481bce2f.15694", "port": 0 }]
    }
  },
  {
    "id": "b643ba4b.ed8568",
    "type": "function",
    "z": "2415de34.a57552",
    "name": "state",
    "func": "node.status({\n    text: JSON.stringify(msg.payload)\n})\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 190,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "481bce2f.15694",
    "type": "status",
    "z": "2415de34.a57552",
    "name": "",
    "scope": ["b643ba4b.ed8568"],
    "x": 200,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "5fe4b1c4.8eb04",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 150,
    "y": 160,
    "wires": [["8003b75d.414958"]]
  },
  {
    "id": "7187b738.ca5778",
    "type": "inject",
    "z": "b27e9fc0.1db62",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 150,
    "y": 200,
    "wires": [["8003b75d.414958"]]
  },
  {
    "id": "8003b75d.414958",
    "type": "vsh-virtual-device",
    "z": "b27e9fc0.1db62",
    "name": "my virtual switch",
    "connection": "",
    "template": "SWITCH",
    "passthrough": true,
    "x": 470,
    "y": 160,
    "wires": [["f09a40da.e58f6", "dbc71e46.d0f68"]]
  },
  {
    "id": "80b7c3c.dd4364",
    "type": "comment",
    "z": "b27e9fc0.1db62",
    "name": "SWITCH",
    "info": "",
    "x": 140,
    "y": 100,
    "wires": []
  },
  {
    "id": "f09a40da.e58f6",
    "type": "debug",
    "z": "b27e9fc0.1db62",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 160,
    "wires": []
  },
  {
    "id": "dbc71e46.d0f68",
    "type": "subflow:2415de34.a57552",
    "z": "b27e9fc0.1db62",
    "name": "",
    "env": [],
    "x": 730,
    "y": 200,
    "wires": []
  }
]
