examples/temperature-sensor.json
[
  {
    "id": "d04827e9.44afc8",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "pizza oven",
    "topic": "pizza/temp",
    "connection": "",
    "template": "TEMPERATURE_SENSOR",
    "passthrough": false,
    "x": 1250,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "e62e0cd.b427bf",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "measured temp = 220.5 °C",
    "props": [
      { "p": "payload.temperature", "v": "220.5", "vt": "num" },
      { "p": "payload.scale", "v": "CELSIUS", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 990,
    "y": 500,
    "wires": [["d04827e9.44afc8"]]
  },
  {
    "id": "2e4d92c8.68fe8e",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "measured temp = 430 °F",
    "props": [
      { "p": "payload.temperature", "v": "430", "vt": "num" },
      { "p": "payload.scale", "v": "FAHRENHEIT", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 990,
    "y": 540,
    "wires": [["d04827e9.44afc8"]]
  },
  {
    "id": "1c169029.57791",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "measured temp = 495 K",
    "props": [
      { "p": "payload.temperature", "v": "495", "vt": "num" },
      { "p": "payload.scale", "v": "KELVIN", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 990,
    "y": 580,
    "wires": [["d04827e9.44afc8"]]
  },
  {
    "id": "abb1247e.0195d8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "TEMPERATURE SENSOR",
    "info": "",
    "x": 970,
    "y": 380,
    "wires": []
  },
  {
    "id": "3a04b9d9.3b7cc6",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, what's the temperature of pizza oven?",
    "info": "",
    "x": 1070,
    "y": 420,
    "wires": []
  }
]
