examples/thermostat.json
[
  {
    "id": "f8d7ccba.de9cf",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "bedroom",
    "topic": "bedroom/thermostat",
    "connection": "c653a955.290d98",
    "template": "THERMOSTAT",
    "passthrough": true,
    "diff": false,
    "filter": false,
    "x": 940,
    "y": 1400,
    "wires": [["185af96.c50b507"]]
  },
  {
    "id": "6ae812d4.64f2ac",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "current temp = 19.7 째C",
    "props": [
      { "p": "payload.temperature", "v": "19.7", "vt": "num" },
      { "p": "payload.scale", "v": "CELSIUS", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 700,
    "y": 1400,
    "wires": [["f8d7ccba.de9cf"]]
  },
  {
    "id": "185af96.c50b507",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1230,
    "y": 1400,
    "wires": []
  },
  {
    "id": "366a3ec7.f45d32",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "current temp = 22 째C",
    "props": [
      { "p": "payload.temperature", "v": "22", "vt": "num" },
      { "p": "payload.scale", "v": "CELSIUS", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 700,
    "y": 1440,
    "wires": [["f8d7ccba.de9cf"]]
  },
  {
    "id": "34e9d23d.def9ce",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "target temp = 20 째C",
    "props": [
      { "p": "payload.targetTemperature", "v": "20", "vt": "num" },
      { "p": "payload.targetScale", "v": "CELSIUS", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 690,
    "y": 1520,
    "wires": [["f8d7ccba.de9cf"]]
  },
  {
    "id": "202115cf.212b8a",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "target temp = 22.5 째C",
    "props": [
      { "p": "payload.targetTemperature", "v": "22.5", "vt": "num" },
      { "p": "payload.targetScale", "v": "CELSIUS", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 700,
    "y": 1560,
    "wires": [["f8d7ccba.de9cf"]]
  },
  {
    "id": "3871c53e.5e060a",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "THERMOSTAT",
    "info": "",
    "x": 680,
    "y": 1160,
    "wires": []
  },
  {
    "id": "94404dca.ad50b",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, make it warmer in here.",
    "info": "",
    "x": 760,
    "y": 1240,
    "wires": []
  },
  {
    "id": "cb3a71d8.b0511",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, make it cooler in here.",
    "info": "",
    "x": 760,
    "y": 1280,
    "wires": []
  },
  {
    "id": "305cc496.f4bdbc",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set bedroom thermostat to twenty.",
    "info": "",
    "x": 800,
    "y": 1200,
    "wires": []
  },
  {
    "id": "f742ce9a.db0b6",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, what's the temperature of bedroom thermostat?",
    "info": "",
    "x": 840,
    "y": 1320,
    "wires": []
  },
  {
    "id": "7b1a6735.ced7a8",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = AUTO",
    "props": [{ "p": "payload.thermostatMode", "v": "AUTO", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 670,
    "y": 1640,
    "wires": [["f8d7ccba.de9cf"]]
  },
  {
    "id": "5e3718a.25277e8",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = HEAT",
    "props": [{ "p": "payload.thermostatMode", "v": "HEAT", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 670,
    "y": 1680,
    "wires": [["f8d7ccba.de9cf"]]
  },
  {
    "id": "1072ec7.feef314",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = COOL",
    "props": [{ "p": "payload.thermostatMode", "v": "COOL", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 680,
    "y": 1720,
    "wires": [["f8d7ccba.de9cf"]]
  },
  {
    "id": "c653a955.290d98",
    "type": "vsh-connection",
    "name": "SANDBOX: cornelius.suermann@gmail.com",
    "port": "8883",
    "accessTokenExpiry": "1623058880575",
    "debug": true,
    "backendUrl": "https://hbsky6oavf.execute-api.eu-west-1.amazonaws.com/dev",
    "lwaClientId": "amzn1.application-oa2-client.cc2605d7d7d64fb28b90e75f64622bfa"
  }
]
