examples/thermostat.json
[
  {
    "id": "ec192310.979d5",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "bedroom",
    "topic": "bedroom/thermostat",
    "connection": "",
    "template": "THERMOSTAT",
    "passthrough": true,
    "diff": false,
    "filter": false,
    "x": 1340,
    "y": 1440,
    "wires": [["90b1f25d.d713"]]
  },
  {
    "id": "521b6c26.571e64",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "current temp = 19.7 째C",
    "props": [
      {
        "p": "payload.temperature",
        "v": "19.7",
        "vt": "num"
      },
      {
        "p": "payload.scale",
        "v": "CELSIUS",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1100,
    "y": 1440,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "90b1f25d.d713",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1630,
    "y": 1440,
    "wires": []
  },
  {
    "id": "1b9ebdb3.4ce6b2",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "current temp = 22 째C",
    "props": [
      {
        "p": "payload.temperature",
        "v": "22",
        "vt": "num"
      },
      {
        "p": "payload.scale",
        "v": "CELSIUS",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1100,
    "y": 1480,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "c19e6295.a1337",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "target temp = 20 째C",
    "props": [
      {
        "p": "payload.targetTemperature",
        "v": "20",
        "vt": "num"
      },
      {
        "p": "payload.targetScale",
        "v": "CELSIUS",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1090,
    "y": 1560,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "362951d9.1d9e3e",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "target temp = 22.5 째C",
    "props": [
      {
        "p": "payload.targetTemperature",
        "v": "22.5",
        "vt": "num"
      },
      {
        "p": "payload.targetScale",
        "v": "CELSIUS",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1100,
    "y": 1600,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "56680f44.6827a",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "THERMOSTAT",
    "info": "",
    "x": 1080,
    "y": 1200,
    "wires": []
  },
  {
    "id": "10fa60e2.65222f",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, make it warmer in here.",
    "info": "",
    "x": 1160,
    "y": 1280,
    "wires": []
  },
  {
    "id": "ee97291.e7937d8",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, make it cooler in here.",
    "info": "",
    "x": 1160,
    "y": 1320,
    "wires": []
  },
  {
    "id": "e41e1df4.35e2f",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, set bedroom thermostat to twenty.",
    "info": "",
    "x": 1200,
    "y": 1240,
    "wires": []
  },
  {
    "id": "921caef2.454cf",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, what's the temperature of bedroom thermostat?",
    "info": "",
    "x": 1240,
    "y": 1360,
    "wires": []
  },
  {
    "id": "a4dd21a6.1a75e",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = AUTO",
    "props": [
      {
        "p": "payload.thermostatMode",
        "v": "AUTO",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1070,
    "y": 1680,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "39ff2a1f.437cd6",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = HEAT",
    "props": [
      {
        "p": "payload.thermostatMode",
        "v": "HEAT",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1070,
    "y": 1720,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "fe487ec6.d62f4",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = COOL",
    "props": [
      {
        "p": "payload.thermostatMode",
        "v": "COOL",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1080,
    "y": 1760,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "d14af22e.2a3f3",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = ECO",
    "props": [
      {
        "p": "payload.thermostatMode",
        "v": "ECO",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1070,
    "y": 1800,
    "wires": [["ec192310.979d5"]]
  },
  {
    "id": "5cc18f22.5aad3",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "mode = OFF",
    "props": [
      {
        "p": "payload.thermostatMode",
        "v": "OFF",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1070,
    "y": 1840,
    "wires": [["ec192310.979d5"]]
  }
]
